<accordion close-others="true">
	<accordion-group is-open="isopen">
	        <accordion-heading>
	            Create new Project <i class="right" ng-class="{'fi-arrow-down': isopen, 'fi-arrow-right': !isopen}"></i>
	        </accordion-heading>
		<label>Project name
		        <input ng-model="projectHandler.projectName" type="text" placeholder="name" />
		</label>
		<label>Category
		        <select ng-options="category for category in categories" ng-model="category"></select>
		</label>
		<button class="expand" ng-click="projectHandler.create(category)">Create</button>
	</accordion-group>
	<accordion-group is-open="isopenJoin">
	        <accordion-heading>
	            Join Project <i class="right" ng-class="{'fi-arrow-down': isopenJoin, 'fi-arrow-right': !isopenJoin}"></i>
	        </accordion-heading>
					<div class="row">
				<div class="large-12 columns">
					<label>Join project</label> 
					<select 
					ng-model="project" 
					ng-change="projectHandler.join(project)" 
					ng-options="project as project.name for project in  projectHandler.projectList track by project.id">
					</select>
				</div>
			</div>
	</accordion-group>
</accordion>