<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Welcome to ARN project planner!</h3>
			<p>This is a modern platform for scholars, created by students at
				HiG</p>
			<div class="row">
				<div class="medium-4 columns">
					<p>
						<a href="http://www.hig.se/">HiGs hemsida</a><br />Läs mer om HiG
						och forskningen som bedrivs där!
					</p>
				</div>
				<div class="large-4 medium-4 columns">
					<h5>Här loggar du in i 
					ARN Project Planner!</h5>
					<p>
						<a href="#" class="small radius button">Logga in</a><br />
					</p>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="large-8 medium-8 columns">
		<h5></h5>

		<div class="row">
			<div class="large-8 columns">
				<div class="callout panel">
				
				</div>

			</div>

		</div>

		<hr />

		<h5>För att söka på projekt?</h5>
		<form>

			<div class="row">
				<div class="large-4 medium-4 columns">
					<label>Sök:</label> <input type="text" placeholder="Vad söker du?" />
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Välj typ av något!</label> <select>
						<option value="husker">alt1</option>
						<option value="starbuck">alt2</option>
						<option value="hotdog">alt3</option>
						<option value="apollo">alt4</option>
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
